.t-wrapper .container {
  padding-top: 13rem;
}

.t-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.t-head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 50rem;
}

/* Slider */
.slick-slider {
  margin-top: 5rem;
}
.slick-track {
  padding: 4rem 0rem;
}
.slick-slide > div {
  padding: 0 20px;
}
.slick-dots {
  bottom: 0px !important;
}

.poh-comment {
  display: flex !important;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
  gap: 3rem;
  background-color: white; /* Fondo blanco */
  box-shadow: 0 24px 28px rgba(0, 0, 0, 0.3); /* Sombra para profundidad */
  transition: box-shadow 0.3s ease; /* Suavizado de la transición */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Borde visible */
}
.poh-comment:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra al pasar el cursor */
}

.poh-c-content {
  height: auto; /* 200px */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.poh-c-content span {
  font-size: 1rem;
  line-height: 1.5rem;
}
.poh-c-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.poh-c-avatar {
  background-color: #650100 ;
  color: white;
  font-size: 1.1rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}
.poh-c-person {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.poh-c-person > :nth-child(1) {
  font-weight: bold;
}
.poh-c-person > :nth-child(2) {
  font-weight: bold;
  color: rgba(128, 128, 128, 0.688);
  font-size: 0.8rem;
}

@media (min-width: 1280px) {
  .slick-slide.slick-active.slick-current + .slick-slide .poh-comment {
    transition: all 1000ms ease-out;
    scale: 1.1;
    transform: translateY(-30px);
    box-shadow: var(--shadow);
  }
}

/* Ajustes adicionales para dispositivos pequeños */
@media (max-width: 576px) {
    .t-head {
      text-align: center; /* Asegura que el texto esté centrado */
      padding: 0 1rem; /* Añade padding para que el texto no toque los bordes */
    }
    
    .poh-comment {
      padding: 1rem; /* Ajusta el padding para dispositivos pequeños */
    }
  }


